body {
  <div id="root"></div>
  <div id="modal-root"></div> <script type="module" src="/src/main.jsx"></script>

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}